Source: omping
Section: net
Priority: extra
Maintainer: Joachim Nilsson <troglobit@gmail.com>
Build-Depends: debhelper (>= 7.0.0)
Standards-Version: 3.9.3
Homepage: http://fedorahosted.org/omping/

Package: omping
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Tool to test IPv4/IPv6 multicast connectivity on a LAN.
 The omping tool is a pure UDP client and server wrapped in a small
 binary.  Perfectly suited for verifying multicast connectivity on your
 local network.
 .
 Compared to traditional ping omping does not use ICMP.  It is based on
 RFC draft http://tools.ietf.org/html/draft-ietf-mboned-ssmping-08 and
 can thus test many different aspects of a setup:
 .
 "In addition to checking reception of multicast (SSM or ASM), the
 protocol can provide related information such as multicast tree setup
 time, the number of hops the packets have traveled, as well as packet
 delay and loss."
 .
 Features:
 - Similar user experience as classic ping tool
 - Ping multiple hosts at once
 - Any-source and Source-specific Multicast 
 .
 
